@charset "UTF-8";
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  margin: 0 auto;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li:last-child {
  margin-right: 0px;
}

html {
  font-size: 62.5%;
}
html a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 35%;
  }
}

.сontactInformation {
  padding: 2rem 0 1rem 0;
  background-color: #F9FEFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
}
.сontactInformation-logo img {
  width: 15rem;
  height: auto;
}
.сontactInformation_img {
  text-align: center;
}
@media (max-width: 900px) {
  .сontactInformation_img {
    margin-bottom: 1rem;
  }
}
.сontactInformation_img img {
  width: 5rem;
  height: auto;
}
.сontactInformation_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(51, 51, 51);
}
@media (max-width: 600px) {
  .сontactInformation_text {
    font-size: 200%;
  }
}
.сontactInformation_information {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: rgb(33, 33, 33);
}
.сontactInformation_information a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 600px) {
  .сontactInformation_information {
    font-size: 180%;
  }
}
.сontactInformation-telegramLink {
  padding-top: 0.6rem;
  align-self: center;
}
@media (max-width: 600px) {
  .сontactInformation-email {
    display: none;
  }
}

.сontactInformationCard {
  min-width: 22rem;
}
@media (max-width: 600px) {
  .сontactInformationCard {
    min-width: 15rem;
  }
}

.navigationMenu {
  background-color: #2B587A;
}
@media (max-width: 600px) {
  .navigationMenu {
    display: none;
  }
}
.navigationMenu ul {
  list-style-type: none;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 0rem;
}
.navigationMenu ul li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 5rem;
  color: white;
  margin-bottom: 2rem;
}

.carsFromEurope {
  background-image: url("../img/peugeot-BGsmall.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  position: relative;
  height: 75vh;
  width: 100%;
}
.carsFromEurope__services {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}
@media (max-width: 600px) {
  .carsFromEurope__services {
    font-size: 85%;
    line-height: 4rem;
  }
}
.carsFromEurope__services_hr {
  border: none;
  border-top: 0.3rem solid #2B587A;
  width: auto;
  margin-bottom: 1rem;
}
.carsFromEurope__carsFromEurope {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  height: 4rem;
  color: white;
  margin-bottom: 12rem;
}
@media (max-width: 900px) {
  .carsFromEurope__carsFromEurope {
    margin-bottom: 15rem;
  }
}
.carsFromEurope__сonditions {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}
@media (max-width: 600px) {
  .carsFromEurope__сonditions {
    font-size: 100%;
  }
}

.turnkeyDelivery {
  height: auto;
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
  padding: 3rem 0 3rem 0;
  background-color: #F9FEFF;
  padding-bottom: 5rem;
}
.turnkeyDelivery-imgBlock {
  width: 40%;
  text-align: right;
  padding-top: 8rem;
}
@media (max-width: 600px) {
  .turnkeyDelivery-imgBlock {
    display: none;
  }
}
.turnkeyDelivery-imgBlock_img {
  width: 40rem;
  height: auto;
}
@media (max-width: 900px) {
  .turnkeyDelivery-imgBlock_img {
    width: 32rem;
  }
}
.turnkeyDelivery-imgBlockPhone {
  display: none;
}
@media (max-width: 600px) {
  .turnkeyDelivery-imgBlockPhone {
    width: 30rem;
  }
}
.turnkeyDelivery-description {
  max-width: 63rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .turnkeyDelivery-description {
    max-width: 150rem;
  }
}
.turnkeyDelivery-description__text1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  align-self: center;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .turnkeyDelivery-description__text1 {
    font-size: 250%;
  }
}
.turnkeyDelivery-description__turnkeyСarsFromEurope {
  align-self: center;
}
.turnkeyDelivery-description__turnkeyСarsFromEurope h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
}
.turnkeyDelivery-description__experience {
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .turnkeyDelivery-description__experience {
    padding: 0 3rem 0 3rem;
    font-size: 250%;
    margin-bottom: 2rem;
  }
}
.turnkeyDelivery-description__card {
  display: flex;
  align-items: center;
  padding: 0 3rem 0 3rem;
}
.turnkeyDelivery-description__card-img img {
  margin-right: 3rem;
}
.turnkeyDelivery-description__card-text_bigText {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .turnkeyDelivery-description__card-text_bigText {
    font-size: 200%;
  }
}
.turnkeyDelivery-description__card-text_smallText {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .turnkeyDelivery-description__card-text_smallText {
    font-size: 250%;
    margin-bottom: 2rem;
  }
}

.catalogOfPopularCarsFromEurope {
  text-align: center;
  padding: 0rem 1rem 5rem 1rem;
}
.catalogOfPopularCarsFromEurope h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.catalogOfPopularCarsFromEurope h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope h4 {
    font-size: 250%;
  }
}
.catalogOfPopularCarsFromEurope-Conteiner {
  max-width: 120rem;
  height: auto;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-auto-rows: minmax(32rem, auto);
  grid-gap: 2rem 2rem;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope-Conteiner {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-template-rows: repeat(18, 65rem);
  }
}
.catalogOfPopularCarsFromEurope-Conteiner .card-1 {
  background-image: url("../img/FordFiesta.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-2 {
  background-image: url("../img/RenaultClio.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-3 {
  background-image: url("../img/RenaultMegane.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-4 {
  background-image: url("../img/BMW2-SERIESACTIVETOURER.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-5 {
  background-image: url("../img/OpelZafira.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-6 {
  background-image: url("../img/OpelInsignia.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-7 {
  background-image: url("../img/FordMondeo.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-8 {
  background-image: url("../img/RenaultTalismanGrandtour.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-9 {
  background-image: url("../img/VolkswaggenPassat.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-10 {
  background-image: url("../img/CitroenC4GRandPicasso.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-11 {
  background-image: url("../img/fordKuga.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-12 {
  background-image: url("../img/nissanQashqai.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-13 {
  background-image: url("../img/RenaultGrandScenic.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-14 {
  background-image: url("../img/Peugeot3008.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-15 {
  background-image: url("../img/VolkswagenTouran.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-16 {
  background-image: url("../img/Audi.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-17 {
  background-image: url("../img/MercedesBenz.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .card-18 {
  background-image: url("../img/VolvoXC90.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.catalogOfPopularCarsFromEurope-Conteiner .cards {
  margin: 0 1rem 0 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope-Conteiner .cards {
    margin: 0 2rem 0 2rem;
    padding: 2rem 0rem 2rem 0rem;
  }
}
.catalogOfPopularCarsFromEurope-Conteiner .cards__price {
  width: auto;
  height: 25px;
  background-color: black;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogOfPopularCarsFromEurope-Conteiner .cards__price_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: rgb(33, 33, 33);
  color: white;
  margin-right: 1rem;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope-Conteiner .cards__price_text {
    font-size: 200%;
  }
}
.catalogOfPopularCarsFromEurope-Conteiner .cards__price_euro {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: rgb(33, 33, 33);
  color: #399297;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope-Conteiner .cards__price_euro {
    font-size: 200%;
  }
}
.catalogOfPopularCarsFromEurope-Conteiner .cards__carParameters {
  padding: 1rem;
  width: auto;
  background-color: black;
  opacity: 0.5;
}
.catalogOfPopularCarsFromEurope-Conteiner .cards__yearCar {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: rgb(33, 33, 33);
  color: white;
  text-align: left;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope-Conteiner .cards__yearCar {
    font-size: 200%;
    margin-bottom: 1rem;
  }
}
.catalogOfPopularCarsFromEurope-Conteiner .cards__modelCar {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope-Conteiner .cards__modelCar {
    font-size: 200%;
    margin-bottom: 1rem;
  }
}
.catalogOfPopularCarsFromEurope-Conteiner .cards__deliveryTerms {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(51, 51, 51);
  color: white;
}
@media (max-width: 600px) {
  .catalogOfPopularCarsFromEurope-Conteiner .cards__deliveryTerms {
    font-size: 200%;
  }
}

.question {
  margin: 0 auto;
  text-align: center;
  padding: 5rem 2rem 5rem 2rem;
  background-color: #F8F8F8;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.question__text {
  margin-right: 5rem;
  width: 60vh;
}
.question__text_big {
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .question__text_big {
    font-size: 300%;
    margin-bottom: 3rem;
  }
}
.question__text_small {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .question__text_small {
    font-size: 250%;
    margin-bottom: 3rem;
  }
}
.question__link_button {
  background-color: #399297;
  color: white;
  height: 6rem;
  width: 23rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .question__link_button {
    height: 8rem;
    width: 30rem;
    font-size: 200%;
  }
}

.schemeOfWork {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0rem 2rem 0rem 2rem;
}
.schemeOfWork__headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.schemeOfWork__headers_mainText {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
}
.schemeOfWork__headers_secondText h5 {
  margin-bottom: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .schemeOfWork__headers_secondText h5 {
    font-size: 300%;
  }
}
.schemeOfWork-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #399297;
  border-bottom: 1px solid #399297;
}
.schemeOfWork-block_stages {
  background-color: #399297;
  color: white;
  height: 6rem;
  width: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .schemeOfWork-block_stages {
    height: 8rem;
    width: 30rem;
    font-size: 250%;
  }
}
.schemeOfWork-block__description {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@media (max-width: 600px) {
  .schemeOfWork-block__description {
    justify-content: center;
  }
}
.schemeOfWork-block__description_img {
  padding: 2rem 0rem;
}
.schemeOfWork-block__description_img img {
  width: 17rem;
  height: 17rem;
  border-radius: 10rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  align-items: center;
}
.schemeOfWork-block__description_text {
  max-width: 70rem;
}
.schemeOfWork-block__description_text span {
  padding-right: 17rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .schemeOfWork-block__description_text span {
    font-size: 250%;
    padding: 0;
  }
}
.schemeOfWork-block__description_text ul {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .schemeOfWork-block__description_text ul {
    font-size: 250%;
  }
}
.schemeOfWork-block__description_text ul li {
  padding-top: 1rem;
}

.advantage {
  padding: 5rem 2rem 5rem 2rem;
  background-color: #F8F8F8;
}
.advantage__headers {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.advantage__headers_mainText {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
}
.advantage__headers_secondText h6 {
  margin-bottom: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .advantage__headers_secondText h6 {
    font-size: 300%;
  }
}
.advantage_centeringBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.advantage__box {
  min-width: 310px;
  max-width: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.advantage__box_img {
  width: 80px;
  height: 80px;
  margin-right: 5rem;
}
.advantage__box_text {
  align-self: center;
}
.advantage__box_text span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .advantage__box_text span {
    font-size: 250%;
  }
}
.advantage__box_text p {
  padding-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .advantage__box_text p {
    font-size: 250%;
  }
}

.costOfServices {
  padding: 5rem 2rem 1rem 2rem;
}
.costOfServices__headers {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.costOfServices__headers_mainText {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
}
.costOfServices__headers_secondText h6 {
  margin-bottom: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .costOfServices__headers_secondText h6 {
    font-size: 300%;
  }
}
.costOfServices_centeringBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.costOfServices__box {
  padding: 1rem;
  min-width: 310px;
  max-width: 55rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  border: 0.1rem solid #399297;
  box-shadow: 0 0 10px rgba(57, 146, 151, 0.5);
}
.costOfServices__box_text {
  align-self: center;
}
.costOfServices__box_text span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .costOfServices__box_text span {
    font-size: 250%;
  }
}
.costOfServices__box_text p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .costOfServices__box_text p {
    font-size: 250%;
  }
}
.costOfServices__box_price {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  padding-top: 1rem;
  line-height: 4rem;
  color: #2B587A;
}
.costOfServices__box_price p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .costOfServices__box_price p {
    font-size: 50%;
  }
}

.developmentAndSupport {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(51, 51, 51);
}
.developmentAndSupport a {
  color: blue;
}/*# sourceMappingURL=style.css.map */