@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat-ExtraBold.eot')
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    src: url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
    line-height: 2rem

@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat-Regular.eot')
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    src: url('../fonts/Montserrat-Regular.woff') format('woff'),
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal
    line-height: 2rem

@mixin font1
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: $thirdTextColor

@mixin font2
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    font-size: 1.3rem
    color: $secondTextColor
// Жирные заголовки +300
@mixin font3
    font-family: 'Montserrat', sans-serif
    font-size: 1.4rem
    font-weight: 700
    @include respond(phone)
        font-size: 180%
// обычный текст +250
@mixin font5
    font-family: 'Montserrat', sans-serif
    font-size: 2rem
    font-weight: 400
// Жирный обычный текст
@mixin font6
    font-family: 'Montserrat', sans-serif
    font-size: 1.9rem
    font-weight: 700
    line-height: 2.7rem

//Крупные заглавья
@mixin font7
    font-family: 'Montserrat', sans-serif
    font-size: 3.6rem
    font-weight: 700

@mixin font4
    font-family: 'Montserrat', sans-serif
    font-size: 4.5rem
    font-weight: 700
    height: 4rem
