@mixin font1
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    font-size: 1.6rem
    color: $mainTextColor

@mixin font2
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    font-size: 3.6rem
    color: $mainTextColor
    line-height: 3.2rem

@mixin font3
    font-family: 'Montserrat', sans-serif
    font-weight: 900
    font-size: 24rem
    color: $mainTextColor
    letter-spacing: 3rem

@mixin font5
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    font-size: 6.7rem
    line-height: 8rem
    color: $secondTextColor

@mixin font6
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    font-size: 5rem
    line-height: 5.6rem
    color: $mainTextColor

@mixin font4
    font-family: 'Open Sans', sans-serif
    font-size: 1.6rem
    font-weight: 600
    line-height: 2.4rem
    color: $secondTextColor

@mixin font7
    font-family: 'Open Sans', sans-serif
    font-size: 1.2rem
    font-weight: 700
    line-height: 1.6rem
    color: $secondTextColor
